*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    color: $black;
    line-height: 1.5;
}

.wrapper {
  padding-bottom: 55px;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

.main {
  position: relative;
  z-index: 1;
}