@font-face {
    font-family: "pfdintextcomppro";
    src: url("../fonts/pfdintextcomppro-xthin-webfont.woff") format("woff"),
    url("../fonts/pfdintextcomppro-xthin-webfont.svg") format("svg"),
    url("../fonts/pfdintextcomppro-xthin-webfont.ttf") format("ttf"),
    url("../fonts/pfdintextcomppro-xthin-webfont.eot") format("eot");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "pfdintextcomppro";
    src: url("../fonts/pfdintextcomppro-thin-webfont.woff") format("woff"),
    url("../fonts/pfdintextcomppro-thin-webfont.svg") format("svg"),
    url("../fonts/pfdintextcomppro-thin-webfont.ttf") format("ttf"),
    url("../fonts/pfdintextcomppro-thin-webfont.eot") format("eot");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "pfdintextcomppro";
    src: url("../fonts/pfdintextcomppro-regular-webfont.woff") format("woff"),
    url("../fonts/pfdintextcomppro-regular-webfont.svg") format("svg"),
    url("../fonts/pfdintextcomppro-regular-webfont.ttf") format("ttf"),
    url("../fonts/pfdintextcomppro-regular-webfont.eot") format("eot");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "entypo";
  src: url("../fonts/entypo.woff") format("woff"),
  url("../fonts/entypo.svg") format("svg"),
  url("../fonts/entypo.ttf") format("ttf"),
  url("../fonts/entypo.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "dinnextltpro";
  src: url("../fonts/dinnextltpro-regular-webfont.woff") format("woff"),
  url("../fonts/dinnextltpro-regular-webfont.svg") format("svg"),
  url("../fonts/dinnextltpro-regular-webfont.ttf") format("ttf"),
  url("../fonts/dinnextltpro-regular-webfont.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "dinnextltpro";
  src: url("../fonts/dinnextltpro-medium-webfont.woff") format("woff"),
  url("../fonts/dinnextltpro-medium-webfont.svg") format("svg"),
  url("../fonts/dinnextltpro-medium-webfont.ttf") format("ttf"),
  url("../fonts/dinnextltpro-medium-webfont.eot") format("eot");
  font-weight: 500;
  font-style: normal;
}