.container {
    width: $large;
    padding: 0 20px;
    margin: 0 auto;
    @media screen and (max-width: $large) {
        width: $medium;
    }
    @media screen and (max-width: $medium) {
        width: $small;
    }
    @media screen and (max-width: $small) {
        width: 100%;
        padding: 0 10px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-60 {
    width: 60%;
}

.col-50 {
    width: 50%;

    @media screen and (max-width: $medium) {
        width: 100%;
    }
}

.col-40 {
    width: 40%;
}