// responsive
$small: 320px;
$medium: 767px;
$large: 1000px;

// colors
$black: #231f20;
$gray: #f4f4e6;
$green: #00a388;
$blue: #c9ede4;
$white: #fff;
$orange: #ff6138;
// fonts
%dinnextltpro-r {
    font-family: 'dinnextltpro', sans-serif;
    font-style: normal;
    font-weight: 400;
}
%dinnextltpro-m {
    font-family: 'dinnextltpro', sans-serif;
    font-style: normal;
    font-weight: 500;
}
%entypo {
    font-family: 'entypo', sans-serif;
    font-style: normal;
    font-weight: 400;
}
%pfdintextcomppro-xt {
    font-family: 'pfdintextcomppro', sans-serif;
    font-style: normal;
    font-weight: 100;
}
%pfdintextcomppro-t {
    font-family: 'pfdintextcomppro', sans-serif;
    font-style: normal;
    font-weight: 300;
}
%pfdintextcomppro-r {
    font-family: 'pfdintextcomppro', sans-serif;
    font-style: normal;
    font-weight: 400;
}
// mixins
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}