.header {
    border-bottom: 1px solid $gray;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;

    .container {
        padding-top: 18px;
        padding-bottom: 14px;

        @media screen and (max-width: $medium) {
            text-align: center;
        }
    }

    .logo {
        margin-left: 30px;
    }
}

.navigation {
    border-top: 1px solid $gray;

    .container {
        position: relative;

        @media screen and (max-width: $medium) {
            border: 0;
            padding: 0;
        }
    }

    &__button {
        width: 22px;
        display: none;
        cursor: pointer;

        @media screen and (max-width: $medium) {
            @include flex(column, center, center);
            position: absolute;
            left: 6px;
            top: -65px;
        }

        span {
            width: 100%;
            height: 4px;
            background-color: $green;
            margin-bottom: 4px;
        }
    }

    &__close {
        width: 22px;
        height: 22px;
        display: none;

        @media screen and (max-width: $medium) {
            display: block;
            position: absolute;
            top: 27px;
            right: 15px;
        }

        span {
            width: 100%;
            height: 4px;
            background-color: $green;
            display: block;

            &:first-child {
                transform: rotate(45deg);
                margin-bottom: -3px;
            }

            &:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    &__list {

        @media screen and (max-width: $medium) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateX(-100%);
            transition: all .5s linear;
            background-color: $white;
            padding: 20px 0;
        }

        &--open {
            transform: translateX(0);
        }

        .container {
            @include flex(row, space-around, center);
            padding-top: 0;
            padding-bottom: 0;

            @media screen and (max-width: $medium) {
                @include flex(column, flex-start, flex-start);
            }
        }
    }

    &__item {
        @extend %dinnextltpro-m;
        color: $black;
        font-size: 14px;
        margin: 0 10px;
        text-transform: uppercase;
        text-decoration: none;

        @media screen and (max-width: $medium) {
            text-align: left;
            margin: 7px 15px;
        }
    }
}