.price {
    @extend %dinnextltpro-r;
    @include flex(row, flex-start, flex-end);
    color: #000000;
    line-height: 1;

    &__currency {
        font-size: 17px;
        margin-bottom: 4px;

        @media screen and (max-width: $medium) {
            font-size: 11px;
            margin-bottom: 3px;
        }
    }

    &__money {
        @include flex(row, flex-start, flex-start);
        @extend %dinnextltpro-m;
        font-size: 35px;

        @media screen and (max-width: $medium) {
            font-size: 22px;
        }
    }

    &__coins {
        font-size: 17px;
        margin-top: 2px;

        @media screen and (max-width: $medium) {
            font-size: 11px;
            margin-top: 1px;
        }
    }

}