.slider {
    position: relative;

    .container {
        position: relative;
    }

    &__title {
        position: relative;
        text-align: center;

        span {
            @extend %pfdintextcomppro-t;
            position: relative;
            font-size: 26px;
            padding: 5px 15px;
            color: $white;
            background-color: $orange;
            display: inline-block;
            text-transform: uppercase;
            z-index: 1;
        }
        
        &:before {
            content: "";
            position: absolute;
            display: block;
            top: 50%;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: $orange;
        }
    }

    .prev, .next {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }    
}

.owl-carousel {
    margin-top: 20px;
}

.owl-item {

    .slider-item {
        @extend %pfdintextcomppro-r;
        position: relative;
        padding: 0 10px;
    
        img {
          width: auto;
          margin: 0 auto;
        }
    
        &__row, &__sale {
          @include flex(row, flex-start, center);
        }
    
        &__row {
          color: #000;
        }
    
        &__sale-label {
          position: absolute;
          top: 0;
          right: 0;
          background-color: #79bd8f;
          text-transform: uppercase;
          padding: 5px 10px;
          color: $white;

          &:before {
            content: "";
            position: absolute;
            bottom: -6px;
            left: 5px;
            width: 0; 
            height: 0; 
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #79bd8f;
          }
        }
    
        &__title {          
          font-size: 14px;
          text-transform: uppercase;
          line-height: 1;
          width: 60%;
          margin-right: 8px;
        }

        &__sale {
          color: #a3abb0;
          line-height: 1.2;
        }

        &__save {
            width: 60%;
            margin-right: 8px;
        }
    }
}