.tiles {
    margin-bottom: 55px;

    .tile {
        position: relative;
        padding: 3px;
        display: block;
        text-decoration: none;

        img {
            width: 100%;
        }

        &__more {
            padding: 3px 13px;
            font-size: 14px;
            line-height: 1;
            cursor: pointer;
            text-align: center;

            @media screen and (max-width: $medium) {
                font-size: 9px;    
            }
        }

        &-1 {

            .tile__title {
                @extend %pfdintextcomppro-xt;
                position: absolute;
                top: 30px;
                left: 40px;
                color: #4e4570;
                text-transform: uppercase;
                line-height: 1;
                font-size: 62px;

                @media screen and (max-width: $medium) {
                    top: 20px;
                    left: 25px;
                    font-size: 38px;
                }

                .big {
                    @extend %pfdintextcomppro-t;
                    font-size: 123px;

                    @media screen and (max-width: $medium) {
                        font-size: 78px;
                    }
                }
            }
        }

        &-2 {
            @include flex(column, center, center);

            img {
                order: 2;
            }

            .tile__content {
                @include flex(row, flex-start, center);
                order: 1;
                margin-bottom: 23px;
            }

            .tile__title {
                @extend %pfdintextcomppro-t;
                color: #000000;
                font-size: 58px;
                line-height: .8;
                text-transform: lowercase;
                margin-right: 16px;

                @media screen and (max-width: $medium) {
                    font-size: 36px;
                }
                
                .big {
                    @extend %pfdintextcomppro-r;
                    font-size: 60px;
                    text-transform: uppercase;

                    @media screen and (max-width: $medium) {
                        font-size: 36px;
                    }
                }
            }

            .tile__text {
                @extend %pfdintextcomppro-t;
                position: relative;
                color: #000000;
                font-size: 14px;
                padding-left: 23px;

                @media screen and (max-width: $medium) {
                    font-size: 12px;
                    padding-left: 15px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    width: 13px;
                    height: 100%;
                    border: 1px solid #000;    
                    border-right: 0;  
                    
                    @media screen and (max-width: $medium) {
                        width: 9px;
                    }
                }
            }
        }

        &-3 {
            font-size: 0;

            .tile__title {
                @extend %pfdintextcomppro-r;
                position: absolute;
                bottom: 15px;
                right: 12px;
                color: #2b7769;
                font-size: 18px;
                text-transform: uppercase;
                line-height: 0.9;

                @media screen and (max-width: $medium) {
                    font-size: 12px;
                    bottom: 9px;
                    right: 9px;
                }

                .big {
                    font-size: 45px;

                    @media screen and (max-width: $medium) {
                        font-size: 30px;
                    }
                }
            }
        }

        &-4 {

            .tile__content {
                position: absolute;
                left: 0;
                bottom: 56px;
                width: 100%;
                text-align: center;

                @media screen and (max-width: $medium) {
                    bottom: 38px;
                }
            }

            .tile__title {
                @extend %pfdintextcomppro-t;
                color: #fefefe;
                font-size: 46px;
                text-transform: uppercase;
                text-align: center;
                line-height: 1;
                margin-bottom: 12px;

                @media screen and (max-width: $medium) {
                    font-size: 29px;
                    margin-bottom: 8px;
                }
            }

            .tile__more {                
                color: #b16e64;
                background-color: $white;
            }
        }

        &-5 {

            .tile__title {
                @extend %pfdintextcomppro-xt;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                color: $white;
                font-size: 50px;
                text-transform: uppercase;
                line-height: 1;

                @media screen and (max-width: $medium) {
                    font-size: 32px;
                }

                .big {
                    @extend %pfdintextcomppro-t;
                    color: $white;
                    font-size: 60px;
                    text-transform: uppercase;

                    @media screen and (max-width: $medium) {
                        font-size: 38px;
                    }
                }
            }

            .tile__more {
                position: absolute;
                bottom: 26px;
                left: 50%;
                transform: translateX(-50%);
                background-color: $white;
                color: #00a388;  

                @media screen and (max-width: $medium)  {
                    bottom: 16px;
                }
            }
        }

        &-6 {

            .tile__content {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                @include flex(row, center, center);
                padding: 0 15px;

                @media screen and (max-width: $medium) {
                    padding: 0 12px;
                }
            }

            .tile__title {
                @extend %pfdintextcomppro-xt;
                position: relative;
                display: inline-block;
                color: #000000;
                font-size: 34px;
                line-height: 1;
                width: 100%;
                text-align: center;

                @media screen and (max-width: $medium) {
                    font-size: 24px;
                }

                &:before,
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 20px;
                    border: 1px solid #000; 
                    
                    @media screen and (max-width: $medium) {
                        width: 9px;
                    }
                }

                &:before {
                    border-right: 0;
                    left: 0;
                }

                &:after {
                    border-left: 0;
                    right: 0;
                }

                .big {
                    @extend %pfdintextcomppro-t;
                    font-size: 38px;

                    @media screen and (max-width: $medium) {
                        font-size: 24px;
                    }
                }
            }

            .price {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
}