<template>
    <div id="navigation" class="navigation">
        <div class="container">
            <div class="navigation__button"
                 @click="openNavigation">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="navigation__list" 
                 :class="{'navigation__list--open': isOpenNavigation}">
                <div class="container">
                    <div class="navigation__close"
                        @click="closeNavigation">
                        <span></span>
                        <span></span>
                    </div>
                    <a v-for="item of navigation" href="" class="navigation__item" :key="item.id">{{ item.name }}</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "navigation",
    data() {
        return {
            navigation: [
                {
                    id: '1',
                    link: '/new arrivals',
                    name: 'new arrivals'
                },
                {
                    id: '2',
                    link: '/collections',
                    name: 'collections'
                },
                {
                    id: '3',
                    link: '/shoes',
                    name: 'shoes'
                },
                {
                    id: '4',
                    link: '/bags',
                    name: 'bags'
                },
                {
                    id: '5',
                    link: '/lingerie',
                    name: 'lingerie'
                },
                {
                    id: '6',
                    link: '/swim',
                    name: 'swim'
                },
                {
                    id: '7',
                    link: '/accessories',
                    name: 'accessories'
                },
                {
                    id: '8',
                    link: '/sale',
                    name: 'sale'
                }
            ],
            isOpenNavigation: false
        }
    },
    methods: {
        openNavigation() {
            this.isOpenNavigation = true
        },
        closeNavigation() {
            this.isOpenNavigation = false
        }
    }
}
</script>