<template>
    <div class="price">
        <span class="price__currency">{{ priceOb.currency }}</span>
        <span class="price__money">{{ priceOb.money }}<span class="price__coins">{{ priceOb.coins }}</span></span>
    </div>
</template>

<script>
export default {
    name: "price",
    props: {
        price: {
            type: String,
            default: ''
        }
    },
    methods: {
        parsePrice() {

        }
    },
    computed: {
        priceOb() {
            let currency = this.price.replace(/[^a-zA-Z$]/gi,'');
            let coins = this.price.substr(this.price.length-2, this.price.length);
            let money = this.price.substr(currency.length, this.price.length-3);
            return {
                currency,
                money,
                coins
            }
        }
    }
}
</script>