<template>
  <div class="slider">
    <div class="container">
        <div class="slider__title"><span>new this week</span></div>
        <carousel :nav="false" 
                  :dots="false"
                  :loop="true"
                  :responsive="{0:{items:1},767:{items:3},980:{items:4}}">
            <template slot="prev">
                <span class="prev">
                    <img src="src/assets/img/ar_left.png" alt="">
                </span>
            </template>
            <SliderItem v-for="item in slider" 
                        :key="item.id"
                        :item="item">
            </SliderItem>
            <template slot="next">
                <span class="next">
                    <img src="src/assets/img/ar_right.png" alt="">
                </span>
            </template>
        </carousel>
    </div>
  </div>
</template>

<script>
import carousel from '../../node_modules/vue-owl-carousel'
import SliderItem from './SliderItem'

export default {
    name: "slider",
    components: { 
        carousel, SliderItem
    },
    data() {
        return {
            title: 'new this week',
            slider: [
                {
                    id: '1',
                    img: 'src/assets/img/dress-1.png',
                    title: 'swiss emboroidery cotton dress',
                    price: '$59.90',
                    oldPrice: '$99.99',
                    save: '$40.00 (35%)',
                    sale: 'true'
                },
                {
                    id: '2',
                    img: 'src/assets/img/dress-2.png',
                    title: 'striped pleated dress',
                    price: '$39.99'
                },
                {
                    id: '3',
                    img: 'src/assets/img/dress-3.png',
                    title: 'linen cotton blend dress',
                    price: '$34.99',
                },
                {
                    id: '4',
                    img: 'src/assets/img/dress-4.png',
                    title: 'swiss emboroidery cotton dress',
                    price: '$59.90'
                },
                {
                    id: '5',
                    img: 'src/assets/img/dress-1.png',
                    title: 'swiss emboroidery cotton dress',
                    price: '$59.90',
                    oldPrice: '$99.99',
                    save: '$40.00 (35%)',
                    sale: 'true'
                },
                {
                    id: '6',
                    img: 'src/assets/img/dress-2.png',
                    title: 'striped pleated dress',
                    price: '$39.99'
                },
                {
                    id: '7',
                    img: 'src/assets/img/dress-3.png',
                    title: 'linen cotton blend dress',
                    price: '$34.99',
                },
                {
                    id: '8',
                    img: 'src/assets/img/dress-4.png',
                    title: 'swiss emboroidery cotton dress',
                    price: '$59.90',
                    oldPrice: '$39.90',
                },
            ]
        }
    },
    method: {

    }
}
</script>