<template>
  <div class="slider-item">
    <div class="slider-item__sale-label"
         v-if="item.sale">
      sale
    </div>
    <img :src="item.img" alt="">
    <div class="slider-item__content">
      <div class="slider-item__row">
        <p class="slider-item__title">{{ item.title }}</p>
        <Price :price="item.price"></Price>
      </div>
      <div class="slider-item__sale"
           v-if="item.sale">
        <span class="slider-item__save">Save: {{ item.save }}</span>
        <div class="slider-item__price">{{ item.oldPrice }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import Price from './Price'

export default {
    name: "slider-item",
    components: {
      Price
    },
    props: {
      item: {
        type: Object,
        default: () => { return {} }
      }
    },
    data() {
        return {
            
        }
    },
    method: {

    }
}
</script>