<template>
  <div class="tiles">
    <div class="container">
      <div class="row">
        <div class="col-50">
          <a href="/" class="tile tile-1">
            <img src="src/assets/img/Layer_352.png" alt="">
            <p class="tile__title"><span class="big">new</span><br> arrivals</p>
          </a>
          <a href="/" class="tile tile-2">
            <img src="src/assets/img/2-layers-shoes.png" alt="">
            <div class="tile__content">
              <p class="tile__title"><span class="big">Summer</span> collection</p>
              <p class="tile__text">Lorem ipsum dolor sit amet, consecter 
                adipisicing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna 
                aliqua. Lorem ipsum dolor amet elit.</p>
            </div>
          </a>
        </div>
        <div class="row col-50">
          <div class="col-40">
            <a href="/" class="tile tile-3">
              <img src="src/assets/img/Layer_356.png" alt="">
              <p class="tile__title"><span class="big">FRESH</span><br> SUMMER LOOKS</p>
            </a>
            <a href="/" class="tile tile-4">
              <img src="src/assets/img/Shanina-Shaik-Todd-Barry-Vogue-Australia-January-2013-4.png" alt="">
              <div class="tile__content">
                <p class="tile__title">50'S ARE BACK!</p>
                <span class="tile__more">Read More</span>
              </div>
            </a>            
          </div>
          <div class="col-60">
            <a href="/" class="tile tile-5">
              <img src="src/assets/img/Ellipse_1.png" alt="">
              <div class="tile__content">
                <p class="tile__title"><span class="big">Swimsuit</span><br>50-70% OFF</p>
                <span class="tile__more">More</span>
              </div>
            </a>
            <a href="/" class="tile tile-6">
              <img src="src/assets/img/2-layers.png" alt="">
              <div class="tile__content">
                <p class="tile__title"><span class="big">Squared-frame</span><br> strass sunglasses</p>
              </div>
              <Price price="$29.99"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Price from './Price'

export default {
  name: "tiles",
  components: {
    Price
  },
  data() {
    return {

    }
  },
  method: {

  }
}
</script>
