<template>
  <div id="app">
    <div class="wrapper">
      <header class="header">
        <div class="container">
          <a href="" class="logo">
            <img src="src/assets/img/logo.png" alt="">
          </a>
        </div>
        <Navigation />  
      </header>  
      <main class="content">
        <tiles />
        <slider />
      </main>
      <footer></footer>
    </div> 
  </div>
</template>

<script>
import Navigation from './components/Navigation'
import Tiles from './components/Tiles'
import Slider from './components/Slider'

export default {
  name: 'app',
  components: {
    Navigation, Tiles, Slider
  }
}
</script>
